.position-absolute{
    top: 0;
    font-size: 2rem;
    /* color: #198754; */
}
.right{
    right: 5px;
    color: black;

}
.left{
    left: 5px;
    color: #50ce93;
}
img, .img-box{
    width: 100%;
    height: 300px;
}
img{
    object-fit: contain;
    /* object-position: center; */
}